!!!
%html
  %head
    %title System Stats
  %body
    %h1
      System stats for:
      = TinSpitz.hostname

    %p
      %ul
        %li
          Kernel Release:
          = TinSpitz.kernel_release
        %li
          System Version:
          = TinSpitz.system_description

        %li
          Processor Count:
          = TinSpitz.processor_count

        %li
          Network Interaces:
          = TinSpitz.interfaces

        %li
          MAC address:
          = TinSpitz.macaddress

